<div class="background-splash">
  <div class="logo-splash"></div>
  <div class="button-actions">
    <button type="button" class="btn btn-primary btn-lg" href="#" role="button">INICIA SESIÓN CON FACEBOOK</button>
  </div>
</div>