<div class="header">
  <h4>Tus matcheaks</h4>
</div>

<div class="container matcheaks">
  <div class="card text-center" style="width: 18rem;">
    <img src="{{session.image}}" class="card-img-top" alt="imagen de perfil">
    <div class="card-body">
      <h5 class="card-title mt-2">{{session.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{session.age}} años</h6>
      <p class="card-text mt-3 mb-4">Hacer como que no, pero sí. Y me comí un escorpión una vez en Vietnam porque decidí probar cualquier cosa una vez … pero por favor no me pidas que lo intente de nuevo.</p>
      <a href="#" class="card-link">No guztatzen</a>
      <a href="#" class="card-link">Guztatzen</a>
    </div>
  </div>
</div>