<div class="header">
  <h4>Tus matcheaks</h4>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <div class="card text-center" style="width: 18rem;">
        <img src="{{session.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{session.name}}</h5>
          <p class="card-text">Descripción usuario</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Edad</li>
          <li class="list-group-item">Intereses</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Dislike</a>
          <a href="#" class="card-link">Like</a>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>