<div class="background-splash">
  <div class="logo-splash"></div>
  <form class="button-actions" action="/facebook" method="POST">
    <button type="submit" class="btn btn-primary btn-lg">INICIA SESIÓN CON FACEBOOK</button>
  </form>
</div>