<div class="header-menu">
  <h4>Mis mensajes</h4>
</div>

<div class="container mt-5">
  {{!-- {{#each messages as |user|}} --}}
  <div class="card">
    <div class="card-header">
      From: {{user.name}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Mensaje</h5>
      <p class="card-text">Texto del mensaje</p>
      <a href="#" class="btn btn-success">Responder</a>
    </div>
  </div>
  {{!-- {{/each}} --}}
</div>