body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #e7181a;
}

a:hover {
  color: #e7181a;
  text-decoration: none;
  font-weight: bold;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-lg {
  background-color: #e7181a!important;
  display: flex;
  flex-direction: row-reverse;
}

.navbar-expand-lg li.nav-item {
  text-align: right;
}

.navbar-expand-lg li.nav-item .nav-link {
  color: white!important;
}

.header {
  text-align: center;
  text-transform: uppercase;
  background-color: #e7181a;
  color: white;
  padding: 15px 0;
}

.header-menu {
  text-align: center;
  text-transform: uppercase;
  background-color: #e7181a;
  color: white;
  padding-top: 12px;
  position: absolute;
  top: 0;
  left: 20px;
}

.background-splash{
  display: flex;
  background-color: #e7181a;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

.logo-splash {
  background-image: url('../images/splash02.png');
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button-actions {
  position: absolute;
  top: 55%;
  left: calc(50% - 125px);
}

.button-actions button {
  font-size: 14px;
  width: 250px;
  padding: 15px 0;
}

.edit-profile .content-edit {
  margin: 0 auto;
  padding: 40px 20px;
}

.edit-image {
  margin-bottom: 20px;
}

.edit-image img {
  border-radius: 50%;
}

.edit-profile .form-check input {
  display: none;
}

.edit-profile .form-check img {
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  cursor: pointer;
}
.edit-profile .form-check input {
  display: none;
}

.edit-profile .form-check input:checked  + img {
  border-color: blue;
}

.matcheaks {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.matcheaks .card {
  box-shadow: 0 2px 10px 0 rgba(155,155,155,0.77);
  max-height: 550px;
}

.matcheaks a {
  text-transform: uppercase;
}

.matcheaks .button-action {
  width: 50%;
  float: left;
}

.matcheaks form button {
  background-color: transparent;
}

.matcheaks form img {
  width: 40px;
  height: 40px;
}

.matcheaks a img {
  width: 40px;
  height: 40px;
}

.form-group {
  margin: 20px 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.btn-danger {
  background-color: #e7181a;
  border-color: #e7181a;
}

.messages .justify-content-end .card-text {
  background-color: #c4f4e6;
  margin: 10px 0;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(155,155,155,0.77);
}

.messages img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.messages .justify-content-start .card-text {
  background-color: #f3f3f3;
  margin: 10px 0;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(155,155,155,0.77);
}

.form-messages {
  margin: 30px 0 10px 0;
}

.button-messages {
  float: right;
  background-color: gainsboro;
}