body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.background-splash{
  display: flex;
  background-color: #e7181a;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

.logo-splash {
  background-image: url('../images/splash05.png');
  width: 100%;
  height: 95%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.button-actions {
  position: absolute;
  top: 53%;
  left: calc(50% - 250px);
}

.button-actions button {
  height: 120px;
  font-size: 30px;
  width: 500px;
}